<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mathme">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".SpeedModeSettings"></activity>
        <activity
            android:name=".DeathEndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Infinite Mode Results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".DeathMode"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".DeathModeSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimedEndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Time Results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".DeathModeSettings"
            android:configChanges="orientation|keyboardHidden"
            android:label="Infinite Mode Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".TimedMode"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".TimeModeSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimeModeSettings"
            android:configChanges="orientation|keyboardHidden"
            android:label="Timed Mode Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".TestResults"
            android:label="Results"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".TestEndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Test Results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".TestMode"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".TestModeSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestModeSettings"
            android:configChanges="orientation|keyboardHidden"
            android:label="Test Mode Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".HelpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Help"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>