<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mathme">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ends.SpeedEndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Infinite Mode Results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".mode.SpeedMode"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".settings.SpeedModeSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".web.Relax"
            android:configChanges="keyboardHidden|orientation"
            android:label="Relax!"
            android:parentActivityName=".other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".web.Anime"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:label="Anime"
            android:parentActivityName=".web.Relax"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".settings.SpeedModeSettings"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Speed Mode Settings"
            android:parentActivityName=".other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".ends.DeathEndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Infinite Mode Results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".mode.DeathMode"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".settings.DeathModeSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ends.TimedEndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Time Results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".settings.DeathModeSettings"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Infinite Mode Settings"
            android:parentActivityName=".other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".mode.TimedMode"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".settings.TimeModeSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.TimeModeSettings"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Timed Mode Settings"
            android:parentActivityName=".other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".result.TestResults"
            android:label="Results"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".ends.TestEndActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Test Results"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".mode.TestMode"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".settings.TestModeSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.TestModeSettings"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Test Mode Settings"
            android:parentActivityName=".other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <receiver
            android:name=".receivers.DeviceBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".other.HelpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Help"
            android:parentActivityName=".other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".other.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Settings"
            android:parentActivityName=".other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".other.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts                                                                                                 "
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>